name: Pre-commit CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: write

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"
    - uses: pre-commit/action@v3.0.1
      continue-on-error: true
    - run: git checkout -- .github/workflows/ || true
    - uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "style: auto-fix pre-commit issues"
        commit_options: "--no-verify"
